.main-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content-wrapper {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.main-content-area {
  flex: 1;
  overflow-y: auto;
  display: flex;
}
